@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  position: relative;
  z-index: 0;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* 画像を右上に配置 */
  width: 40%; /* 画像の幅をコンテナ幅の20%に設定 */
  height: 70%; /* 画像の高さをコンテナ高の20%に設定 */
  background-image: url("/aboutImg/about.png"); /* 背景画像のパスを指定 */
  background-position: calc(100% - 40px); /* 画像を右上に配置 */
  background-size: cover; /* 画像が指定した領域にフィットするように設定 */
  opacity: 0.5; /* 背景画像の透明度を調整 */
  z-index: -1; /* コンテンツの背後に配置 */
}
