@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundImage {
  position: relative;
  z-index: 0;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/aboutImg/about.png"); /* 背景画像のパスを指定 */
  background-position: center; /* 画像を中央に配置 */
  background-size: cover; /* 画像が画面全体にフィットするように設定 */
  opacity: 0.15; /* 背景画像の透明度を調整 */
  z-index: -1; /* 背景に配置 */
}
